// colors
$darkTeal: #07373B;
$darkBlue: #006080;
$green: #39F5AD;
$teal: #29D5EB;
$bgColor-welcome: #39F5AD;

body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'atten-round-new, sans-serif';
}