// colors
$darkTeal: #07373B;
$darkBlue: #006080;
$green: #39F5AD;
$teal: #29D5EB;
$bgColor-welcome: #39F5AD;

html {
    font-family: 'atten-round-new, sans-serif';
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

* {
    -webkit-font-smoothing: antialiased;
}