// colors
$darkTeal: #07373b;
$darkBlue: #006080;
$green: #39f5ad;
$teal: #29d5eb;
$bgColor-welcome: #39f5ad;

html {
  font-family: 'atten-round-new, sans-serif';
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  -webkit-font-smoothing: antialiased;
}
