version: 2.1
orbs:
  node: circleci/node@3.0.0
  cypress: cypress-io/cypress@1
  azure-acr: circleci/azure-acr@0.2.0
jobs:
  build:
    environment:
      CI: true
    # Reuse Docker container specification given by the node Orb
    executor: node/default
    steps:
      - checkout
      # Install the latest npm - the node Orb takes care of it
      - node/install-npm
      # Install dependencies - the node Orb take care of installation and dependency caching
      - node/install-packages:
          cache-path: node_modules
          override-ci-command: npm ci --legacy-peer-deps
      - run:
          name: prettier
          command: npm run prettier:check
      - run:
          name: build
          command: npm run build
      # Save workspace for subsequent jobs (i.e. test)
      - persist_to_workspace:
          root: .
          paths:
            - .

  test:
    docker:
      # The primary container is an instance of the first image listed. The job's commands run in this container.
      - image: cimg/node:current
    steps:
      # Reuse the workspace from the build job
      - attach_workspace:
          at: .
      - run:
          name: Test
          command: npm run test:ci

  build_and_deploy_prod:
    machine: true
    steps:
      - azure-acr/build-and-push-image:
          dockerfile: Dockerfile.production
          login-server-name: acrwebprod001.azurecr.io
          registry-name: acrwebprod001
          repo: frontend
  build_and_deploy_test:
    machine: true
    steps:
      - azure-acr/build-and-push-image:
          dockerfile: Dockerfile.test
          login-server-name: acrwebtest001.azurecr.io
          registry-name: acrwebtest001
          repo: frontend

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - cypress/run:
          requires:
            - build
          start: npm start
          wait-on: 'http://localhost:3000'
          command: npx cypress run
          store_artifacts: true
          post-steps:
            # - run:
            #     name: generate combined report
            #     when: always
            #     command: npm run generate:html:report
            - store_test_results:
                path: cypress/results
            - store_artifacts:
                path: test-reports

  build-deploy:
    jobs:
      - build_and_deploy_prod:
          context:
            - azure
          filters:
            branches:
              only: master
      - build_and_deploy_test:
          context:
            - azure
          filters:
            branches:
              only: develop
