// colors
$darkTeal: #07373B;
$darkBlue: #006080;
$green: #39F5AD;
$teal: #29D5EB;

.button-primary {
  text-align: center;
  width: 334px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid $green;
  border-radius: 10px;
  cursor: pointer;
}

.button-font {
  font-weight: bold;
  font-size: 24px;
  color: $darkTeal;
  letter-spacing: 1.2px;
}
