.button-primary {
  text-align: center;
  width: 334px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #32E39F;
  border-radius: 10px;
  cursor: pointer;
}

.button-font {
  font-weight: bold;
  font-size: 24px;
  color: #07373B;
  letter-spacing: 1.2px;


}